<ion-view view-title="SHARE OR DARE">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Recent Updates:</div>
      <div class="item item-divider">
        <div>
          Challenges available:
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">My competitiveness</div>
      <div class="item item-divider">
        <div>
          You are {nth} place today.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Leaderboard</div>
      <div class="item item-divider">
        <div>
          Leaderboard:
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
