<ion-view view-title="tab-chat" ng-init="initChat()">
 <ion-content class="padding">

   <div class="blockvert">
       <p class="chatpagep">DO YOU DARE? THEN SHARE!<p/>
   </div>
   <div class='blockvert'>
       <p class="chatpagep">Post your efforts and let your group decide: Did you PWN or FAIL?</p>
   </div>
   <div class="blockvert">
     <div id="chat-container">
       <h6>
         Messages
       </h6>
       <div id="chat-messages"></div>
       <hr />
       <div id="chat-input">
         <div class="form-group members">
           <label style="float: left; padding-top: 5px;" for="chat-group">Select Group</label><select name="group-names-send" id="group-names-send" class="form-control" style="width: 70%; display: inline-block; float: left; margin-left: 16px;"></select>
   
           <button name="button" type="submit" class="pull-left inline login-btn" id="leaveGroup">Leave Group</button>
         </div>
         <br><br><br><br><br>
         <div class="form-group members">
           <h4 id="groupHeading">
             Group Members
           </h4>
           <ul class="list-unstyled" id="chatUserdata" style="display:none"></ul>
           <label class="sendMsgTextNoMember" style="padding-bottom: 20px; font-size: 13px; font-weight: normal; margin-left: 10px; display: none;" for="sendMsgTextNoMember">The group selected has no members added</label>
         </div>

         <div class="form-group">
           <label for="chat-message">Chat Message</label>
           <textarea name="chat-message" id="chat-message" class="form-control"></textarea>
           <button name="button" type="submit" class="login-btn" id="send_msg" style="margin-top: 10px">Send</button>
         </div>
          
               <br/>
              <button class='pull-left inline login-btn' ng-click='chooseTruth()'>Truth</button>
              {{truth}}
              <button class='pull-left inline login-btn' ng-click='chooseDare()'>Dare</button>
              {{dare}}
         <div class="form-group">
           <input type="radio" name="chatRadioButton" id="chatFileRadioButton" value="sendFile" /><label style="margin-left: 5px;margin-right: 5px" for="optionsRadios1">Chat File</label>
           <input type="radio" name="chatRadioButton" id="chatImageRadioButton" value="sendImage" /><label style="margin-left: 5px;margin-right: 5px" for="optionsRadios1">Chat Image</label>
           <input type="radio" name="chatRadioButton" id="chatAudioRadioButton" value="sendAudio" /><label style="margin-left: 5px;margin-right: 5px" for="optionsRadios1">Chat Audio</label>
           <input type="radio" name="chatRadioButton" id="chatVideoRadioButton" value="sendVideo" /><label style="margin-left: 5px;margin-right: 5px" for="optionsRadios1">Chat Video</label>

           <div class="form-group"></div>
           <label for="chat-message">Chat File</label>
           <input type="file" name="imFile" id="imFile" class="form-control" />

         </div>
         <button name="button" type="submit" class="login-btn" id="send_file">Send</button>

       </div>
     </div>
   </div>

 </ion-content>
</ion-view>


